<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>


<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><a href="/about">About</a></p>
<button id="btn" class="btn">버튼</button>

<div id="list"></div>
<script>
  const apiAddress = `https://jsonplaceholder.typicode.com/todos`;
  const listBox = document.getElementById('list');
  document.getElementById('btn').addEventListener('click', function () {
    console.log('click')
    axios({
      method: "get",
      url   : '/users'
    }).then(({data}) => {
      console.log(data)
      const getData = data?.list;
      if (!getData) return;
      getData.length = 30;
      console.log(getData)
      let i = getData.length;
      listBox.innerHTML = "";
      while (i--) {
        const ptag = document.createElement('p')
        ptag.textContent = getData[i].title
        listBox.append(ptag)
      }
    })

  })
</script>
</body>
</html>
